body {
  max-width: fit-content;
  max-height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: #eeeeee;
  background-color: #0c090a;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #0c090a;
  height: 100%;
  position: fixed;
  overflow: auto;
}
